.product-card img{
    height:300px;
    width:auto;
    max-width:200px;

}
.product-img{
    text-align:center;
    padding:25px;
}
.product-card{
    margin:50px;
    padding:0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius:5px;
}
.product-actions{
    justify-content: space-around;
}
.item-det{
   
    padding:20px;
}
.item-det h5{
    font-size:16px;
    font-weight:bold;
    color:rgb(43, 43, 43);
}
.item-det p{
    font-size:14px;
    font-weight:600;
    color:rgb(34, 34, 34);
}
.item-det p span{
    font-size:12px;
    font-weight:400;
}
